JSON MQTT
[
  {
    "id": "tab_plts",
    "type": "ui_tab",
    "name": "PLTS Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp_tegangan_arus",
    "type": "ui_group",
    "name": "Tegangan & Arus PV",
    "tab": "tab_plts",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_beban",
    "type": "ui_group",
    "name": "Tegangan & Arus Beban",
    "tab": "tab_plts",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_daya",
    "type": "ui_group",
    "name": "Daya & Energi",
    "tab": "tab_plts",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_cahaya",
    "type": "ui_group",
    "name": "Cahaya & Energi",
    "tab": "tab_plts",
    "order": 4,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_tracker",
    "type": "ui_group",
    "name": "Solar Tracker",
    "tab": "tab_plts",
    "order": 5,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_ldr",
    "type": "ui_group",
    "name": "LDR Sensor",
    "tab": "tab_plts",
    "order": 6,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_grafik",
    "type": "ui_group",
    "name": "Grafik Realtime",
    "tab": "tab_plts",
    "order": 7,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "grp_kontrol",
    "type": "ui_group",
    "name": "Kontrol Manual",
    "tab": "tab_plts",
    "order": 8,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "mqtt_broker_plts",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "10.20.146.254",
    "port": "1883",
    "clientid": "nodered-plts",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "closeTopic": "",
    "willTopic": ""
  },
  {
    "id": "mqtt_in_data",
    "type": "mqtt in",
    "name": "plts/data",
    "topic": "plts/data",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_plts",
    "x": 100,
    "y": 100,
    "wires": [["fn_parse_json"]]
  },
  {
    "id": "fn_parse_json",
    "type": "function",
    "name": "Parse JSON",
    "func": "if (typeof msg.payload === 'string') {\n  try { msg.payload = JSON.parse(msg.payload); } catch(e) { return null; }\n}\nreturn msg;",
    "x": 280,
    "y": 100,
    "wires": [["fn_teg_pv","fn_arus_pv","fn_teg_beban","fn_arus_beban","fn_daya_pv","fn_daya_beban","fn_cahaya","fn_energi_pv","fn_energi_beban","fn_status_energi","fn_pos_h","fn_pos_v","fn_arah_yaw","fn_arah_pitch","fn_mode_status","fn_ldr_atas","fn_ldr_bawah","fn_ldr_kiri","fn_ldr_kanan","fn_grafik","fn_csv_format"]]
  },
  {
    "id": "fn_teg_pv",
    "type": "function",
    "name": "Tegangan PV",
    "func": "msg.payload = parseFloat(msg.payload.tegangan_pv) || 0;\nreturn msg;",
    "x": 480,
    "y": 60,
    "wires": [["gauge_teg_pv"]]
  },
  {
    "id": "gauge_teg_pv",
    "type": "ui_gauge",
    "name": "Gauge Tegangan PV",
    "group": "grp_tegangan_arus",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Tegangan PV",
    "label": "V",
    "format": "{{value}}",
    "min": 0,
    "max": 20,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 10,
    "seg2": 15,
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "fn_arus_pv",
    "type": "function",
    "name": "Arus PV",
    "func": "msg.payload = parseFloat(msg.payload.arus_pv) || 0;\nreturn msg;",
    "x": 480,
    "y": 100,
    "wires": [["gauge_arus_pv"]]
  },
  {
    "id": "gauge_arus_pv",
    "type": "ui_gauge",
    "name": "Gauge Arus PV",
    "group": "grp_tegangan_arus",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Arus PV",
    "label": "A",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 5,
    "seg2": 8,
    "x": 700,
    "y": 100,
    "wires": []
  },
  {
    "id": "fn_teg_beban",
    "type": "function",
    "name": "Tegangan Beban",
    "func": "msg.payload = parseFloat(msg.payload.tegangan_beban) || 0;\nreturn msg;",
    "x": 480,
    "y": 140,
    "wires": [["gauge_teg_beban"]]
  },
  {
    "id": "gauge_teg_beban",
    "type": "ui_gauge",
    "name": "Gauge Tegangan Beban",
    "group": "grp_beban",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Tegangan Beban",
    "label": "V",
    "format": "{{value}}",
    "min": 0,
    "max": 20,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 10,
    "seg2": 15,
    "x": 700,
    "y": 140,
    "wires": []
  },
  {
    "id": "fn_arus_beban",
    "type": "function",
    "name": "Arus Beban",
    "func": "msg.payload = parseFloat(msg.payload.arus_beban) || 0;\nreturn msg;",
    "x": 480,
    "y": 180,
    "wires": [["gauge_arus_beban"]]
  },
  {
    "id": "gauge_arus_beban",
    "type": "ui_gauge",
    "name": "Gauge Arus Beban",
    "group": "grp_beban",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Arus Beban",
    "label": "A",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 5,
    "seg2": 8,
    "x": 700,
    "y": 180,
    "wires": []
  },
  {
    "id": "fn_daya_pv",
    "type": "function",
    "name": "Daya PV",
    "func": "msg.payload = parseFloat(msg.payload.daya_pv) || 0;\nreturn msg;",
    "x": 480,
    "y": 220,
    "wires": [["gauge_daya_pv"]]
  },
  {
    "id": "gauge_daya_pv",
    "type": "ui_gauge",
    "name": "Gauge Daya PV",
    "group": "grp_daya",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Daya PV",
    "label": "W",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 50,
    "seg2": 80,
    "x": 700,
    "y": 220,
    "wires": []
  },
  {
    "id": "fn_daya_beban",
    "type": "function",
    "name": "Daya Beban",
    "func": "msg.payload = parseFloat(msg.payload.daya_beban) || 0;\nreturn msg;",
    "x": 480,
    "y": 260,
    "wires": [["gauge_daya_beban"]]
  },
  {
    "id": "gauge_daya_beban",
    "type": "ui_gauge",
    "name": "Gauge Daya Beban",
    "group": "grp_daya",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Daya Beban",
    "label": "W",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 50,
    "seg2": 80,
    "x": 700,
    "y": 260,
    "wires": []
  },
  {
    "id": "fn_cahaya",
    "type": "function",
    "name": "Cahaya",
    "func": "msg.payload = parseFloat(msg.payload.cahaya) || 0;\nreturn msg;",
    "x": 480,
    "y": 300,
    "wires": [["chart_cahaya"]]
  },
  {
    "id": "chart_cahaya",
    "type": "ui_chart",
    "name": "Grafik Cahaya",
    "group": "grp_cahaya",
    "order": 1,
    "width": 6,
    "height": 4,
    "label": "Intensitas Cahaya (Lux)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Menunggu data...",
    "dot": false,
    "ymin": "0",
    "ymax": "3300",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#f4a731"],
    "x": 700,
    "y": 300,
    "wires": []
  },
  {
    "id": "fn_energi_pv",
    "type": "function",
    "name": "Energi PV",
    "func": "msg.payload = 'PV: ' + (msg.payload.energi_pv || '0') + ' Wh';\nreturn msg;",
    "x": 480,
    "y": 340,
    "wires": [["text_energi_pv"]]
  },
  {
    "id": "text_energi_pv",
    "type": "ui_text",
    "name": "Energi PV",
    "group": "grp_cahaya",
    "order": 2,
    "width": 3,
    "height": 1,
    "label": "Energi PV",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 340,
    "wires": []
  },
  {
    "id": "fn_energi_beban",
    "type": "function",
    "name": "Energi Beban",
    "func": "msg.payload = 'Beban: ' + (msg.payload.energi_beban || '0') + ' Wh';\nreturn msg;",
    "x": 480,
    "y": 380,
    "wires": [["text_energi_beban"]]
  },
  {
    "id": "text_energi_beban",
    "type": "ui_text",
    "name": "Energi Beban",
    "group": "grp_cahaya",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "Energi Beban",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 380,
    "wires": []
  },
  {
    "id": "fn_status_energi",
    "type": "function",
    "name": "Status Energi",
    "func": "msg.payload = msg.payload.status_energi || '-';\nreturn msg;",
    "x": 480,
    "y": 420,
    "wires": [["text_status_energi"]]
  },
  {
    "id": "text_status_energi",
    "type": "ui_text",
    "name": "Status Energi",
    "group": "grp_cahaya",
    "order": 4,
    "width": 6,
    "height": 1,
    "label": "Status Energi",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 420,
    "wires": []
  },
  {
    "id": "fn_pos_h",
    "type": "function",
    "name": "Posisi H",
    "func": "msg.payload = parseInt(msg.payload.pos_h) || 0;\nreturn msg;",
    "x": 480,
    "y": 460,
    "wires": [["gauge_pos_h"]]
  },
  {
    "id": "gauge_pos_h",
    "type": "ui_gauge",
    "name": "Gauge Posisi H",
    "group": "grp_tracker",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Posisi H",
    "label": "°",
    "format": "{{value}}",
    "min": 10,
    "max": 170,
    "colors": ["#0099ff","#0099ff","#0099ff"],
    "seg1": 60,
    "seg2": 120,
    "x": 700,
    "y": 460,
    "wires": []
  },
  {
    "id": "fn_pos_v",
    "type": "function",
    "name": "Posisi V",
    "func": "msg.payload = parseInt(msg.payload.pos_v) || 0;\nreturn msg;",
    "x": 480,
    "y": 500,
    "wires": [["gauge_pos_v"]]
  },
  {
    "id": "gauge_pos_v",
    "type": "ui_gauge",
    "name": "Gauge Posisi V",
    "group": "grp_tracker",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Posisi V",
    "label": "°",
    "format": "{{value}}",
    "min": 10,
    "max": 170,
    "colors": ["#0099ff","#0099ff","#0099ff"],
    "seg1": 60,
    "seg2": 120,
    "x": 700,
    "y": 500,
    "wires": []
  },
  {
    "id": "fn_arah_yaw",
    "type": "function",
    "name": "Arah Yaw",
    "func": "msg.payload = msg.payload.arah_yaw || 'LOCK';\nreturn msg;",
    "x": 480,
    "y": 540,
    "wires": [["text_arah_yaw"]]
  },
  {
    "id": "text_arah_yaw",
    "type": "ui_text",
    "name": "Arah Yaw",
    "group": "grp_tracker",
    "order": 3,
    "width": 3,
    "height": 1,
    "label": "Arah Yaw",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 540,
    "wires": []
  },
  {
    "id": "fn_arah_pitch",
    "type": "function",
    "name": "Arah Pitch",
    "func": "msg.payload = msg.payload.arah_pitch || 'LOCK';\nreturn msg;",
    "x": 480,
    "y": 580,
    "wires": [["text_arah_pitch"]]
  },
  {
    "id": "text_arah_pitch",
    "type": "ui_text",
    "name": "Arah Pitch",
    "group": "grp_tracker",
    "order": 4,
    "width": 3,
    "height": 1,
    "label": "Arah Pitch",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 580,
    "wires": []
  },
  {
    "id": "fn_mode_status",
    "type": "function",
    "name": "Mode Status",
    "func": "msg.payload = msg.payload.mode || 'AUTO';\nreturn msg;",
    "x": 480,
    "y": 620,
    "wires": [["text_mode_status"]]
  },
  {
    "id": "text_mode_status",
    "type": "ui_text",
    "name": "Mode Status",
    "group": "grp_tracker",
    "order": 5,
    "width": 6,
    "height": 1,
    "label": "Mode",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 620,
    "wires": []
  },
  {
    "id": "fn_ldr_atas",
    "type": "function",
    "name": "LDR Atas",
    "func": "msg.payload = parseInt(msg.payload.ldr_atas) || 0;\nreturn msg;",
    "x": 480,
    "y": 660,
    "wires": [["gauge_ldr_atas"]]
  },
  {
    "id": "gauge_ldr_atas",
    "type": "ui_gauge",
    "name": "Gauge LDR Atas",
    "group": "grp_ldr",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "LDR Atas",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#00b500","#e6e600","#f4a731"],
    "seg1": 1000,
    "seg2": 3000,
    "x": 700,
    "y": 660,
    "wires": []
  },
  {
    "id": "fn_ldr_bawah",
    "type": "function",
    "name": "LDR Bawah",
    "func": "msg.payload = parseInt(msg.payload.ldr_bawah) || 0;\nreturn msg;",
    "x": 480,
    "y": 700,
    "wires": [["gauge_ldr_bawah"]]
  },
  {
    "id": "gauge_ldr_bawah",
    "type": "ui_gauge",
    "name": "Gauge LDR Bawah",
    "group": "grp_ldr",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "LDR Bawah",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#00b500","#e6e600","#f4a731"],
    "seg1": 1000,
    "seg2": 3000,
    "x": 700,
    "y": 700,
    "wires": []
  },
  {
    "id": "fn_ldr_kiri",
    "type": "function",
    "name": "LDR Kiri",
    "func": "msg.payload = parseInt(msg.payload.ldr_kiri) || 0;\nreturn msg;",
    "x": 480,
    "y": 740,
    "wires": [["gauge_ldr_kiri"]]
  },
  {
    "id": "gauge_ldr_kiri",
    "type": "ui_gauge",
    "name": "Gauge LDR Kiri",
    "group": "grp_ldr",
    "order": 3,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "LDR Kiri",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#00b500","#e6e600","#f4a731"],
    "seg1": 1000,
    "seg2": 3000,
    "x": 700,
    "y": 740,
    "wires": []
  },
  {
    "id": "fn_ldr_kanan",
    "type": "function",
    "name": "LDR Kanan",
    "func": "msg.payload = parseInt(msg.payload.ldr_kanan) || 0;\nreturn msg;",
    "x": 480,
    "y": 780,
    "wires": [["gauge_ldr_kanan"]]
  },
  {
    "id": "gauge_ldr_kanan",
    "type": "ui_gauge",
    "name": "Gauge LDR Kanan",
    "group": "grp_ldr",
    "order": 4,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "LDR Kanan",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#00b500","#e6e600","#f4a731"],
    "seg1": 1000,
    "seg2": 3000,
    "x": 700,
    "y": 780,
    "wires": []
  },
  {
    "id": "fn_grafik",
    "type": "function",
    "name": "Format Grafik",
    "func": "var d = msg.payload;\nvar out = [];\nout.push({topic:'Tegangan PV (V)', payload: parseFloat(d.tegangan_pv)||0});\nout.push({topic:'Arus PV (A)', payload: parseFloat(d.arus_pv)||0});\nout.push({topic:'Daya PV (W)', payload: parseFloat(d.daya_pv)||0});\nout.push({topic:'Tegangan Beban (V)', payload: parseFloat(d.tegangan_beban)||0});\nout.push({topic:'Arus Beban (A)', payload: parseFloat(d.arus_beban)||0});\nreturn [out[0], out[1], out[2], out[3], out[4]];",
    "outputs": 5,
    "x": 480,
    "y": 820,
    "wires": [["chart_realtime"],["chart_realtime"],["chart_realtime"],["chart_realtime"],["chart_realtime"]]
  },
  {
    "id": "chart_realtime",
    "type": "ui_chart",
    "name": "Grafik Realtime",
    "group": "grp_grafik",
    "order": 1,
    "width": 12,
    "height": 5,
    "label": "Tegangan / Arus / Daya PV & Beban",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Menunggu data...",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#f4a731","#0099ff","#00b500","#e67e22","#9b59b6"],
    "x": 700,
    "y": 820,
    "wires": []
  },
  {
    "id": "fn_csv_format",
    "type": "function",
    "name": "Format CSV",
    "func": "var d = msg.payload;\nvar now = new Date();\nvar ts = now.toLocaleDateString('id-ID') + ' ' + now.toLocaleTimeString('id-ID');\nvar baris = ts + ',' +\n  (d.tegangan_pv||'0') + ',' +\n  (d.arus_pv||'0') + ',' +\n  (d.daya_pv||'0') + ',' +\n  (d.tegangan_beban||'0') + ',' +\n  (d.arus_beban||'0') + ',' +\n  (d.daya_beban||'0') + ',' +\n  (d.cahaya||'0') + ',' +\n  (d.energi_pv||'0') + ',' +\n  (d.energi_beban||'0') + ',' +\n  (d.status_energi||'-') + ',' +\n  (d.pos_h||'0') + ',' +\n  (d.pos_v||'0') + ',' +\n  (d.arah_yaw||'-') + ',' +\n  (d.arah_pitch||'-') + ',' +\n  (d.mode||'-') + '\\n';\nmsg.payload = baris;\nreturn msg;",
    "x": 480,
    "y": 860,
    "wires": [["file_csv"]]
  },
  {
    "id": "file_csv",
    "type": "file",
    "name": "Simpan CSV",
    "filename": "C:\\Users\\Asus\\Documents\\data_plts.csv",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "x": 700,
    "y": 860,
    "wires": []
  },
  {
    "id": "inject_header_csv",
    "type": "inject",
    "name": "Header CSV",
    "props": [{"p":"payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Timestamp,Tegangan PV,Arus PV,Daya PV,Tegangan Beban,Arus Beban,Daya Beban,Cahaya,Energi PV,Energi Beban,Status Energi,Pos H,Pos V,Arah Yaw,Arah Pitch,Mode\n",
    "payloadType": "str",
    "x": 480,
    "y": 900,
    "wires": [["file_csv"]]
  },
  {
    "id": "mqtt_out_cmd",
    "type": "mqtt out",
    "name": "plts/cmd",
    "topic": "plts/cmd",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker_plts",
    "x": 750,
    "y": 980,
    "wires": []
  },
  {
    "id": "ui_switch_mode",
    "type": "ui_switch",
    "name": "Mode Switch",
    "label": "Mode (ON=Manual / OFF=Auto)",
    "group": "grp_kontrol",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": false,
    "decouple": false,
    "topic": "mode",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "x": 200,
    "y": 960,
    "wires": [["fn_mode"]]
  },
  {
    "id": "fn_mode",
    "type": "function",
    "name": "Mode CMD",
    "func": "var mode = msg.payload ? 'manual' : 'auto';\nmsg.payload = JSON.stringify({mode: mode});\nreturn msg;",
    "x": 480,
    "y": 960,
    "wires": [["mqtt_out_cmd"]]
  },
  {
    "id": "ui_slider_h",
    "type": "ui_slider",
    "name": "Slider H",
    "label": "Servo Horizontal (°)",
    "group": "grp_kontrol",
    "order": 2,
    "width": 6,
    "height": 1,
    "passthru": false,
    "topic": "servo_h",
    "min": 10,
    "max": 170,
    "step": 1,
    "x": 200,
    "y": 1000,
    "wires": [["fn_servo_h"]]
  },
  {
    "id": "fn_servo_h",
    "type": "function",
    "name": "Servo H CMD",
    "func": "msg.payload = JSON.stringify({mode: 'manual', servo_h: msg.payload});\nreturn msg;",
    "x": 480,
    "y": 1000,
    "wires": [["mqtt_out_cmd"]]
  },
  {
    "id": "ui_slider_v",
    "type": "ui_slider",
    "name": "Slider V",
    "label": "Servo Vertikal (°)",
    "group": "grp_kontrol",
    "order": 3,
    "width": 6,
    "height": 1,
    "passthru": false,
    "topic": "servo_v",
    "min": 10,
    "max": 170,
    "step": 1,
    "x": 200,
    "y": 1040,
    "wires": [["fn_servo_v"]]
  },
  {
    "id": "fn_servo_v",
    "type": "function",
    "name": "Servo V CMD",
    "func": "msg.payload = JSON.stringify({mode: 'manual', servo_v: msg.payload});\nreturn msg;",
    "x": 480,
    "y": 1040,
    "wires": [["mqtt_out_cmd"]]
  },
  {
    "id": "ui_btn_reset_pos",
    "type": "ui_button",
    "name": "Reset Posisi",
    "label": "RESET POSISI",
    "group": "grp_kontrol",
    "order": 4,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "color": "white",
    "bgcolor": "#e8a020",
    "x": 200,
    "y": 1080,
    "wires": [["fn_reset_pos"]]
  },
  {
    "id": "fn_reset_pos",
    "type": "function",
    "name": "Reset Pos CMD",
    "func": "msg.payload = JSON.stringify({reset: true});\nreturn msg;",
    "x": 480,
    "y": 1080,
    "wires": [["mqtt_out_cmd"]]
  },
  {
    "id": "ui_btn_reset_energi",
    "type": "ui_button",
    "name": "Reset Energi",
    "label": "RESET ENERGI",
    "group": "grp_kontrol",
    "order": 5,
    "width": 3,
    "height": 1,
    "passthru": false,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "color": "white",
    "bgcolor": "#c0392b",
    "x": 200,
    "y": 1120,
    "wires": [["fn_reset_energi"]]
  },
  {
    "id": "fn_reset_energi",
    "type": "function",
    "name": "Reset Energi CMD",
    "func": "msg.payload = JSON.stringify({reset_energy: true});\nreturn msg;",
    "x": 480,
    "y": 1120,
    "wires": [["mqtt_out_cmd"]]
  }
]
